<?xml version="1.0"?>
<launch>
    <!-- This combination of nodes is needed for control of the follower in actual flight. -->
    <node pkg="follower" type="uwb_node_reader" name="uwb_node_reader" output="screen"/>
    <node pkg="follower" type="ma_filter" name="ma_filter" output="screen"/>
    <node pkg="follower" type="mavros_takeoff" name="mavros_takeoff" output="screen"/>
	<node pkg="follower" type="mavros_offboard_simple" name="mavros_offboard_simple" output="screen"/>
    <node pkg="mavros" type="mavros_node" name="mavros_node" output="screen"/>
</launch>
