<?xml version="1.0"?>
<launch>
    <!-- This combination of nodes is needed for control of the leader in actual flight. -->
    <node pkg="leader" type="mavros_direct_offboard" name="mavros_direct_offboard" output="screen"/>
	<!-- node pkg="leader" type="feedback_fake_vicon" name="feedback_fake_vicon" output="screen"/-->
	<!-- LOAD LEADER PARAMETER FILES (WITHIN LEADER NAMESPACE) -->
    <rosparam command="load" file="param/leader_actual_params.yaml"/>
    <!-- MAVROS configs -->
    <arg name="fcu_url" default="/dev/ttyUSB0:921600"/>
    <arg name="respawn_mavros" default="false"/>
    <!-- MAVROS -->
    <include file="$(find mavros)/launch/px4.launch">
        <!-- GCS link is provided by SITL -->
        <arg name="gcs_url" value=""/>
        <arg name="fcu_url" value="$(arg fcu_url)"/>
        <arg name="respawn_mavros" value="$(arg respawn_mavros)"/>
    </include>
</launch>
