<?xml version="1.0"?>
<launch>
    <!-- This combination of nodes is needed for the simulation of the leader.-->
    <!-- The only node is mavros_direct_offboard to switch to offboard mode and take off.-->
    <node pkg="leader" type="mavros_direct_offboard" name="mavros_direct_offboard" output="screen"/>
</launch>
